@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;
    cursor: none;

    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

}


/* cursor */
.cursor{
    position: fixed;
    width: 20px;
    height: 20px;
    margin-left: -20px;
    margin-top: -20px;
    border-radius: 50%;
    border: solid 10px;
    transition: transform .3s ease;
    transform-origin: center center;
    pointer-events: none;
    z-index: 1000;
}

.grow, .grow-small{
    transform: scale(10);
    background: #fff;
    mix-blend-mode: difference;
    border: none;
}
.grow-small{
    transform: scale(2.5);
}

#main{
    overflow-y: hidden;
    position: relative;
}
#page{
    overflow: hidden;
    transition: 3s;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f1f1f1;
    /* background-color: #000; */
}
#page1{
    overflow-x: hidden;
    position: relative;
    height:135vh;
    max-height: 1100px;
    width: 100vw;
    background-color: #000000;

    /* hidding scrollBar */
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#page1::-webkit-scrollbar {
    display: none;
  }

#page2{
    overflow: hidden;
    width: 100vw;
    background-color: #000;
    position: relative;
}

canvas{
    /* overflow: hidden; */
    position: relative;
    z-index: 0;
    width: 100vw;
    height: fit-content;
}

#loop{
    display: flex;
    position: absolute;
    top: 30%;
    height: 25%;
    width: 100%;
    font-size: 100px;
    white-space: nowrap;
    font-family: gilroy;
}
#loop>h1{
    font-weight: 400px;
    animation-name: anim;
    animation-duration: 35s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#loop>h1>span{
    -webkit-text-stroke: 1.2px #000;
    color: transparent;
    font-weight: 500;
}
@keyframes anim{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}

.rot{
    position: relative;
    z-index: 20;
    background-color: aqua;
    width: 200px;
    height: 0px;
    left: 50%;
    top: 75vh;
    transform: translate(-50%);
}

.swipe{
    position: relative;
    top: -155px;
    left: 50%;
    transform: translate(-50% , 0);
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: black;
    
    text-align: center;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

.swipe:hover{
    height: 105px;
    width: 105px;
}

@keyframes up {
    from{
        top: 87vh;
    }
}

.swipe p{
    position: relative;
    top: 30%;
    transform: translate(0,-50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.swipe p{
    position: relative;
    animation: arrow 1.2s alternate-reverse infinite;
}

@keyframes arrow {
    from{
        letter-spacing: 4px;
        color: #000;
        top: 21px;
    }
}

/* circular text */
text {
    fill: rgb(0, 0, 0);
    font-family: monospace;
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase;
    font-variant-ligatures: none;
    letter-spacing: 6px;
    animation: rotate 25s linear infinite;
    transform-origin: 250px 250px;
  }
  
  svg{
    max-width: 80vmin;
  }
  
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  
  .textcircle {
    transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);
    transform-origin: 250px 250px;
  }
  
  .rot:hover .textcircle {
    transform: scale(1.2) rotate(90deg);
  }


section {
    position: absolute;
    z-index: 900;
    top:50%;
    background-color: #8b898954;
}

h2 {
    font-size: 20px;
    text-align: center;
    font-weight: 900;
}


/* nav */

.placeholder-title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding-left: 15vw;
    padding-right: 15vw;
}

.placeholder-title h1{
    font-size: 6vw;
    color: #333;
    font-weight: 500;
    text-align: center;
}

/* Header start */

header{
    position: fixed;
    z-index: 1000000;
    left: 0;
    top: 0;
    width: 100%;
}

.header-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-logo img{
    position: relative;
    height: 100px;
}

.menu-toggle{
    position: relative;
    right: 20px;
    background-color: #000000f9;
    padding: 10px;
    border-radius: 100%;
    border: solid;
    cursor: pointer;
}

.hamburger{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% , 10%);
}

.hamburger path{
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
}

.fullpage-menu{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: none;
}
.fullpage-menu-inner{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 100px 60px;
}
.menu-bg{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.menu-bg span{
    height: 33.334%;
    width: 100%;
    backdrop-filter: blur(10px);
    display: block;
    opacity: 0.6;
}

.one{
    background-color: #FAEDCD;
}

.two{
    background-color: #CCD5AE;
}

.three{
    background-color: #94AF9F;
}

nav{
    position: relative;
    z-index: 10;
}

nav ul{
    list-style-type: none;
}
nav li{
    overflow: hidden;
    transition: transform 300ms ease-in-out 0s;
}
nav li + li{
    margin-top: 20px;
}
nav li a{
    font-family: monospace;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 60px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    line-height: 1;
    -webkit-text-stroke: 2px #000000;
    color: transparent;
    font-weight: 900;
}

nav li:hover{
    transform: translateX(50px);
}

nav li:hover a{
    color: #000000;
}
.header-nav-footer{
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
}
.social-links{
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 100%;
}
.social-links li{
    font-size: 18px;
    font-weight: 500;
}
.social-links li + li{
    margin-left: 16px;
}
.social-links li:last-child{
    margin-left: auto;
}
.social-links a{
    color: #ffffff;
    text-decoration: none;
}

@media screen and (max-width:767px) {
    .header-row, .header-nav-footer{
        padding: 30px;
    }
    .fullpage-menu-inner{
        padding: 70px 30px;
    }
    nav li a{
        font-size: 54px;
    }
    .social-links li{
        font-size: 16px;
    }
}

/* about section */

#page1 h1{
    font-family: monospace;
    display: flex;
    position: absolute;
    width: 1000px;
    font-size: 100px;
    white-space: nowrap;
    font-weight: 400px;
}

.head1{
    top: 30%;
    animation: scroll  7s  alternate-reverse  infinite;

}

.head2{
    color: #ffffff76;
    z-index: 2;
    top: 40%;
    animation: anim  5s  alternate-reverse  infinite;
}

.head3{
    animation: scroll  6s  alternate-reverse  infinite;
    top: 50%;
}

.head4{
    color: #ffffff76;
    z-index: 2;
    top: 60%;
    animation: anim  8s  alternate-reverse  infinite;
}

.effect{
    -webkit-text-stroke: 1.2px #ffffff76;
    color: transparent;
    font-weight: 600;
}



@keyframes scroll{
    from{
        transform: translateX(-100%);
    }
    
    to{
        transform: translateX(0%);
    }
}


#page1 img{
    width: 40vw;
    min-width: 500px;
    position: absolute;
    top:40% ;
    left : 50%;
    transform: translate(-50% , -50%);
    
}


#page1 .title{
    position: relative;
    top: 100vh;
    width: fit-content;
    position: relative;
    transform: translate(-36% , 70px);
    
}

.title div{
    font-family: 'Poppins', sans-serif;
    -webkit-text-stroke: 1.2px #ffffff76;
    color: #000;
    font-weight: 200;
    
}

.title h2{
    /* font-size: 11vmin; */
    background-color: #fff;
    padding: 0px 20px;
    transform: rotate(90deg);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

/* page3 */

.con2{
    padding: 20px;
    width: 80vw;
    position: absolute;
    top: 100vh;
    left: 50%;
    transform: translate( -40% );
    /* background-color: rgb(219, 0, 0); */
    background-image: repeating-radial-gradient(farthest-corner at 00px 0px, black 25% , rgb(88, 88, 163) 30% );
    background-size: 900% 900%;
    animation: color 20s ease-in-out alternate infinite;
}

@keyframes color {
    0%{
        background-position: 0 50%;
    }

    50%{
        background-position: 120% 150%;
    }

    10%{
        background-position: 50% 100%;
    }  

}
.con2 h2{
    font-size: 4vmin;
    letter-spacing: 2px;
    text-align: left;
    color: #ffffff;
    font-family:  'Poppins';
    font-weight: 200;
}

.con2 h2 span{
    font-size: 6vmin;
    font-style: italic;
    font-family: 'poppins';
    font-weight: 600;
    color: #fbfcff;
}
